html {
  line-height: 0.25rem;
}

div {
  line-height: 1rem;
}

h1 {
  padding: 1rem;
}

p {
  padding: 0.4rem;
}

.swatch {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: orange;
}
.swatch:before {
  content: orange;
}

.swatch:nth-of-type(2) {
  background: black;
}

.swatch:nth-of-type(3) {
  background: green;
}

.swatch:nth-of-type(4) {
  background: purple;
}

.swatch:nth-of-type(5) {
  background: red;
}

.swatch:nth-of-type(6) {
  background: black;
}

.swatch:nth-of-type(7) {
  background: orange;
}

.swatch:nth-of-type(8) {
  background: indigo;
}

.swatch:nth-of-type(9) {
  background: yellow;
}

.lighter1 {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #ffd280;
}

.lighter1:nth-of-type(2) {
  background: gray;
}

.lighter1:nth-of-type(3) {
  background: #80c080;
}

.lighter1:nth-of-type(4) {
  background: #c080c0;
}

.lighter1:nth-of-type(5) {
  background: #ff8080;
}

.lighter1:nth-of-type(6) {
  background: gray;
}

.lighter1:nth-of-type(7) {
  background: #ffd280;
}

.lighter1:nth-of-type(8) {
  background: #a580c1;
}

.lighter1:nth-of-type(9) {
  background: #ffff80;
}

.lighter2 {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #ffe9bf;
}

.lighter2:nth-of-type(2) {
  background: #bfbfbf;
}

.lighter2:nth-of-type(3) {
  background: #bfdfbf;
}

.lighter2:nth-of-type(4) {
  background: #dfbfdf;
}

.lighter2:nth-of-type(5) {
  background: #ffbfbf;
}

.lighter2:nth-of-type(6) {
  background: #bfbfbf;
}

.lighter2:nth-of-type(7) {
  background: #ffe9bf;
}

.lighter2:nth-of-type(8) {
  background: #d2bfe0;
}

.lighter2:nth-of-type(9) {
  background: #ffffbf;
}

.comp1 {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #005aff;
}

.comp1:nth-of-type(2) {
  background: black;
}

.comp1:nth-of-type(3) {
  background: purple;
}

.comp1:nth-of-type(4) {
  background: green;
}

.comp1:nth-of-type(5) {
  background: aqua;
}

.comp1:nth-of-type(6) {
  background: black;
}

.comp1:nth-of-type(7) {
  background: #005aff;
}

.comp1:nth-of-type(8) {
  background: #378200;
}

.comp1:nth-of-type(9) {
  background: blue;
}

.comp2 {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #80adff;
}

.comp2:nth-of-type(2) {
  background: gray;
}

.comp2:nth-of-type(3) {
  background: #c080c0;
}

.comp2:nth-of-type(4) {
  background: #80c080;
}

.comp2:nth-of-type(5) {
  background: #80ffff;
}

.comp2:nth-of-type(6) {
  background: gray;
}

.comp2:nth-of-type(7) {
  background: #80adff;
}

.comp2:nth-of-type(8) {
  background: #9bc180;
}

.comp2:nth-of-type(9) {
  background: #8080ff;
}

.comp3 {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #bfd6ff;
}

.comp3:nth-of-type(2) {
  background: #bfbfbf;
}

.comp3:nth-of-type(3) {
  background: #dfbfdf;
}

.comp3:nth-of-type(4) {
  background: #bfdfbf;
}

.comp3:nth-of-type(5) {
  background: #bfffff;
}

.comp3:nth-of-type(6) {
  background: #bfbfbf;
}

.comp3:nth-of-type(7) {
  background: #bfd6ff;
}

.comp3:nth-of-type(8) {
  background: #cde0bf;
}

.comp3:nth-of-type(9) {
  background: #bfbfff;
}

.analogousl {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #daff00;
}

.analogousl:nth-of-type(2) {
  background: black;
}

.analogousl:nth-of-type(3) {
  background: #008040;
}

.analogousl:nth-of-type(4) {
  background: #800040;
}

.analogousl:nth-of-type(5) {
  background: #ff8000;
}

.analogousl:nth-of-type(6) {
  background: black;
}

.analogousl:nth-of-type(7) {
  background: #daff00;
}

.analogousl:nth-of-type(8) {
  background: #820078;
}

.analogousl:nth-of-type(9) {
  background: #80ff00;
}

.analogousr {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #ff2600;
}

.analogousr:nth-of-type(2) {
  background: black;
}

.analogousr:nth-of-type(3) {
  background: #408000;
}

.analogousr:nth-of-type(4) {
  background: #400080;
}

.analogousr:nth-of-type(5) {
  background: #ff0080;
}

.analogousr:nth-of-type(6) {
  background: black;
}

.analogousr:nth-of-type(7) {
  background: #ff2600;
}

.analogousr:nth-of-type(8) {
  background: #0a0082;
}

.analogousr:nth-of-type(9) {
  background: #ff8000;
}

.analogousl2 {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #f6ffbf;
}

.analogousl2:nth-of-type(2) {
  background: #bfbfbf;
}

.analogousl2:nth-of-type(3) {
  background: #bfdfcf;
}

.analogousl2:nth-of-type(4) {
  background: #dfbfcf;
}

.analogousl2:nth-of-type(5) {
  background: #ffdfbf;
}

.analogousl2:nth-of-type(6) {
  background: #bfbfbf;
}

.analogousl2:nth-of-type(7) {
  background: #f6ffbf;
}

.analogousl2:nth-of-type(8) {
  background: #e0bfdd;
}

.analogousl2:nth-of-type(9) {
  background: #dfffbf;
}

.analogousr2 {
  width: 4rem;
  height: 4rem;
  border: 2px solid #000;
  display: inline-block;
  background: #ffc9bf;
}

.analogousr2:nth-of-type(2) {
  background: #bfbfbf;
}

.analogousr2:nth-of-type(3) {
  background: #cfdfbf;
}

.analogousr2:nth-of-type(4) {
  background: #cfbfdf;
}

.analogousr2:nth-of-type(5) {
  background: #ffbfdf;
}

.analogousr2:nth-of-type(6) {
  background: #bfbfbf;
}

.analogousr2:nth-of-type(7) {
  background: #ffc9bf;
}

.analogousr2:nth-of-type(8) {
  background: #c2bfe0;
}

.analogousr2:nth-of-type(9) {
  background: #ffdfbf;
}

.title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1;
  grid-gap: 1rem;
}

.grid1 {
  display: grid;
}

.grid2 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*# sourceMappingURL=icon-colors.css.map */

/*# sourceMappingURL=colors.css.map */
