* {
  padding: 0.25rem;
  margin: 0.25rem;
}

footer {
  font-size: 10px;
}

#design-selection {
  font-size: 15px;
}

#css-zen-garden {
  grid-area: "css-zen-garden ";
  border: 5px solid red;
  margin: 0;
}

#css-zen-garden:before {
  color: red;
  content: " (id = css-zen-garden) ";
}

.page-wrapper {
  grid-area: "page-wrapper) ";
  border: 5px solid blue;
}

.page-wrapper:before {
  color: red;
  content: " (class = page-wrapper) ";
}

#zen-intro {
  grid-area: "zen-intro ";
  border: 5px solid grey;
}

#zen-intro:before {
  color: red;
  content: " (id = zen-intro, class = intro) ";
}

header {
  grid-area: "header ";
  border: 5px solid hotpink;
}

header:before {
  color: red;
  content: " (tag = header) ";
}

#zen-summary {
  grid-area: "zen-summary ";
  border: 5px solid green;
}

#zen-summary:before {
  color: red;
  content: " (id = zen-summary, class = summary) ";
}

#zen-supporting {
  grid-area: "zen-supporting ";
  border: 5px solid grey;
}

#zen-supporting:before {
  color: red;
  content: " (id = zen-supporting, class = supporting, class = main) ";
}

#zen-preamble {
  grid-area: "zen-preamble ";
  border: 5px solid green;
}

#zen-preamble:before {
  color: red;
  content: " (id = zen-preamble, class = preamble) ";
}

#zen-explanation {
  grid-area: "zen-explanation ";
  border: 5px solid green;
}

#zen-explanation:before {
  color: red;
  content: " (id = zen-explanation, class = explanation) ";
}

#zen-participation {
  grid-area: "zen-participation ";
  border: 5px solid green;
}

#zen-participation:before {
  color: red;
  content: " (id = zen-participation) ";
}

#zen-benefits {
  grid-area: "zen-benefits ";
  border: 5px solid green;
}

#zen-benefits:before {
  color: red;
  content: " (id = zen-benefits, class = benefits) ";
}

#zen-requirements {
  grid-area: "zen-requirements ";
  border: 5px solid green;
}

#zen-requirements:before {
  color: red;
  content: " (id = zen-requirements, class = requirements) ";
}

footer {
  grid-area: "footer) ";
  border: 5px solid hotpink;
}

footer:before {
  color: red;
  content: " (tag = footer) ";
}

.content-info {
  grid-area: "content-info) ";
  border: 5px solid purple;
}

.content-info :before {
  color: red;
  content: " (class = content-info ) ";
}

.zen-validate-css {
  grid-area: "zen-validate-css) ";
  border: 2px solid purple;
}

.zen-validate-css:before {
  color: red;
  content: " (class = zen-validate-css ) ";
}

.zen-validate-html {
  grid-area: "zen-validate-html) ";
  border: 2px solid purple;
}

.zen-validate-html:before {
  color: red;
  content: " (class = zen-validate-html ) ";
}

.zen-accessibility {
  grid-area: "zen-accessibility) ";
  border: 2px solid purple;
}

.zen-accessibility:before {
  color: red;
  content: " (class = zen-accessibility ) ";
}

.zen-license {
  grid-area: "zen-license) ";
  border: 2px solid purple;
}

.zen-license:before {
  color: red;
  content: " (class = zen-license) ";
}

.extra1 {
  grid-area: "extra1) ";
  border: 5px solid purple;
}

.extra1:before {
  color: red;
  content: " (class = extra1 ) ";
}

.extra2 {
  grid-area: "extra2) ";
  border: 5px solid purple;
}

.extra2:before {
  color: red;
  content: " (class = extra2 ) ";
}

.extra3 {
  grid-area: "extra3) ";
  border: 5px solid purple;
}

.extra3:before {
  color: red;
  content: " (class = extra3) ";
}

.extra4 {
  grid-area: "extra4) ";
  border: 5px solid purple;
}

.extra4:before {
  color: red;
  content: " (class = extra4) ";
}

.extra5 {
  grid-area: "extra5) ";
  border: 5px solid purple;
}

.extra5:before {
  color: red;
  content: " (class = extra5) ";
}

.extra6 {
  grid-area: "extra6) ";
  border: 5px solid purple;
}

.extra6:before {
  color: red;
  content: " (class = extra6) ";
}

.zen-github {
  grid-area: "zen-github) ";
  border: 2px solid purple;
}

.zen-github:before {
  color: red;
  content: " (class = zen-github) ";
}

.sidebar {
  grid-area: "sidebar) ";
  border: 5px solid greenyellow;
}

.sidebar:before {
  color: red;
  content: " (class = sidebar) ";
}

.wrapper {
  grid-area: "wrapper) ";
  border: 5px solid purple;
}

.wrapper:before {
  color: red;
  content: " (class = wrapper) ";
}

.select {
  grid-area: "select) ";
  border: 5px solid purple;
}

.select:before {
  color: red;
  content: " (class = select) ";
}

#design-selection {
  grid-area: "design-selection-id) ";
  border: 5px solid green;
}

#design-selection:before {
  color: red;
  content: " (id = design-selection, class = design-selection) ";
}

.designer-name {
  grid-area: "designer-name) ";
  border: 5px solid purple;
}

.designer-name:before {
  color: red;
  content: " (class = designer-name) ";
}

.design-name {
  grid-area: "design-name) ";
  border: 5px solid purple;
}

.design-name:before {
  color: red;
  content: " (class = design-name) ";
}

#design-archives {
  grid-area: "design-archives-id) ";
  border: 5px solid green;
}

#design-archives:before {
  color: red;
  content: " (id = design-archives, class = design-archives) ";
}

.archives {
  grid-area: "archives) ";
  border: 5px solid purple;
}

.archives:before {
  color: red;
  content: " (class = archives) ";
}

.next {
  grid-area: "next) ";
  border: 5px solid purple;
}

.next:before {
  color: red;
  content: " (class = next) ";
}

.indicator {
  grid-area: "indicator) ";
  border: 5px solid purple;
}

.indicator:before {
  color: red;
  content: " (class = indicator) ";
}

.viewall {
  grid-area: "viewall) ";
  border: 5px solid purple;
}

.viewall:before {
  color: red;
  content: " (class = viewall) ";
}

#zen-resources {
  grid-area: "zen-resources-id) ";
  border: 5px solid green;
}

#zen-resources:before {
  color: red;
  content: " (id = zen-resources, class = zen-resources) ";
}

.css-resources {
  grid-area: "css-resources) ";
  border: 5px solid purple;
}

.css-resources:before {
  color: red;
  content: " (class = css-resources) ";
}

.zen-faq {
  grid-area: "zen-faq) ";
  border: 5px solid purple;
}

.zen-faq:before {
  color: red;
  content: " (class = zen-faq) ";
}

.zen-submit {
  grid-area: "zen-submit) ";
  border: 5px solid purple;
}

.zen-submit:before {
  color: red;
  content: " (class = zen-submit) ";
}

.zen-translations {
  grid-area: "zen-translations) ";
  border: 5px solid purple;
}

.zen-translations:before {
  color: red;
  content: " (class = zen-translations) ";
}

.view-css {
  grid-area: "view-css) ";
  border: 5px solid purple;
}

.view-css:before {
  color: red;
  content: " (class = view-css) ";
}

.extra6 {
  grid-area: "extra6) ";
  border: 5px solid purple;
}

.wrapper:before {
  color: red;
  content: " (class = wrapper) ";
}

.extra6 {
  grid-area: "extra6) ";
  border: 5px solid purple;
}

.wrapper:before {
  color: red;
  content: " (class = wrapper) ";
}

.extra6 {
  grid-area: "extra6) ";
  border: 5px solid purple;
}

.wrapper:before {
  color: red;
  content: " (class = wrapper) ";
}

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */
